@font-face {
  font-family: 'Fraunces';
  src: url('../assets/fonts/Fraunces/Fraunces-Bold.woff2') format('woff2'),
  url('../assets/fonts/Fraunces/Fraunces-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

