:root {
  --color-green-500: #3c8067;
  --color-green-700: #1b4133;

  --color-black: #1c232b;
  --color-gray: #6c7289;
  --color-cream: #f2ebe3;
  --color-white: #ffffff;

  --font-family-base: "Montserrat", sans-serif;
  --font-family-alt: "Fraunces", sans-serif;

  --container-width-base: 600px;
  --container-width-alt: 237px;

  --container-padding: 32px;

  --transition-duration: 0.2s !important;
}